@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* GLOBAL VARIABLES */

  /* colors */
  --primary-color: rgb(217, 227, 241);
  --primary-color-tr: rgba(217, 227, 241, 0.8);
  --primary-color-tr2: rgba(217, 227, 241, 0.2);
  --primary-color-dk2: rgb(144, 154, 189);
  --primary-color-dk3: rgb(107, 113, 138);
  --dark-tr-clr: rgba(0, 0, 0, 0.6);

  --primary-font-color: rgb(53, 65, 101);
  --secondary-font-color: rgb(72, 87, 133);
  --black-font-color: rgb(11, 11, 11);
  --dull-red-clr: rgb(231, 77, 74);
  --primary-btn-color: rgb(55, 62, 87);

  --grey-clr: rgb(175, 175, 175);
  --yellow-color: rgb(219, 205, 0);
  --orange-color: rgb(255, 166, 0);
  --green-color: rgb(0, 140, 0);
  --red-color: rgb(230, 0, 0);
  --light-blue-clr: rgb(180, 218, 233);
  ---white-color-tr: rgba(255, 255, 255, 0.5);
  ---white-color-tr2: rgba(255, 255, 255, 0.3);

  /* pokemon type colors */
  --grass-color: rgb(28, 216, 14);
  --fire-color: rgb(255, 153, 0);
  --water-color: rgb(20, 168, 255);
  --normal-color: rgb(159, 163, 157);
  --fighting-color: rgb(255, 33, 91);
  --flying-color: rgb(137, 189, 255);
  --poison-color: rgb(194, 73, 255);
  --ground-color: rgb(255, 107, 13);
  --rock-color: rgb(216, 188, 90);
  --bug-color: rgb(123, 207, 0);
  --ghost-color: rgb(78, 106, 255);
  --steel-color: rgb(35, 161, 189);
  --electric-color: rgb(255, 222, 0);
  --psychic-color: rgb(255, 108, 100);
  --ice-color: rgb(46, 228, 198);
  --dragon-color: rgb(0, 118, 255);
  --dark-color: rgb(90, 86, 106);
  --fairy-color: rgb(255, 118, 255);
  --shadow-color: rgb(34, 67, 67);

  --grass-color-tr: rgba(28, 216, 14, 0.7);
  --fire-color-tr: rgba(255, 153, 0, 0.7);
  --water-color-tr: rgba(20, 168, 255, 0.7);
  --normal-color-tr: rgba(159, 163, 157, 0.7);
  --fighting-color-tr: rgba(255, 33, 91, 0.7);
  --flying-color-tr: rgba(137, 189, 255, 0.7);
  --poison-color-tr: rgba(194, 73, 255, 0.7);
  --ground-color-tr: rgba(255, 107, 13, 0.7);
  --rock-color-tr: rgba(216, 188, 90, 0.7);
  --bug-color-tr: rgba(123, 207, 0, 0.7);
  --ghost-color-tr: rgba(78, 106, 255, 0.7);
  --steel-color-tr: rgba(35, 161, 189, 0.7);
  --electric-color-tr: rgba(255, 222, 0, 0.7);
  --psychic-color-tr: rgba(255, 108, 100, 0.7);
  --ice-color-tr: rgba(46, 228, 198, 0.7);
  --dragon-color-tr: rgba(0, 118, 255, 0.7);
  --dark-color-tr: rgba(90, 86, 106, 0.7);
  --fairy-color-tr: rgba(255, 118, 255, 0.7);
  --shadow-color-tr: rgba(34, 67, 67, 0.7);

  /* font family */
  --primary-font: "Nunito", sans-serif;

  /* box shadow */
  --box-shadow-null: 0px 0px 0px var(--primary-color),
    -0px -0px 0px var(--primary-color);
  --box-shadow: 5px 5px 10px rgba(55, 94, 148, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 0.4);
  --box-shadow-inset: inset 3px 3px 8px rgba(55, 94, 148, 0.2),
    inset -3px -3px 8px rgba(255, 255, 255, 0.4);
  --box-shadow2: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 0.1);
  --box-shadow2-inset: inset 2px 2px 8px rgba(55, 94, 148, 0.2);
  --box-shadow3: 2px 2px 5px rgba(0, 0, 0, 0.1),
    -2px -2px 5px rgba(255, 255, 255, 0.5);
  --box-shadow3-inset: inset 1px 1px 2px rgba(0, 0, 0, 0.2),
    inset -1px -1px 2px rgba(255, 255, 255, 0.5);
  --box-shadow4: 0px 0px 4px rgba(0, 0, 0, 0.2);
  --box-shadow5-inset: inset 1px 1px 3px rgba(0, 0, 0, 0.2),
    inset -1px -1px 3px rgba(200, 200, 200, 0.5);

  /* border radius */
  --border-radius-circular: 50%;
  --border-radius1: 10px;
  --border-radius2: 20px;
  --border-radius3: 8px;
  --border-radius4: 16px;

  /* transition */
  --transition1: all 0.1s ease-in-out;
  --transition2: all 0.2s ease-in-out;

  /* padding */
  --pad-x: 20px;
  --pad-y-lg: 1.8rem;
  --pad-y-md: 1rem;
  --pad-y-sm: 10px;
  --page-padding-lg-screen: var(--pad-x) var(--pad-y-lg);
  --page-padding-md-screen: var(--pad-x) var(--pad-y-md);
  --page-padding-sm-screen: var(--pad-x) var(--pad-y-sm);

  /* drop shadow */
  --drop-shadow: 0 25px 25px rgba(0, 0, 0, 0.4);

  --stat-value: 0px;
  --stat-range-bg: rgb(175, 175, 175);
}

body {
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* buttons */

.primary-btn {
  background-color: var(--primary-btn-color);
  border: none;
  border-radius: 6px;
  box-shadow: var(--box-shadow2);
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  text-transform: capitalize;
  transition: var(--transition1);
}

.primary-btn:active {
  box-shadow: var(--box-shadow-null), var(--box-shadow2-inset);
}

.secondary-btn {
  background-color: var(--primary-color);
  border-radius: var(--border-radius4);
  color: var(--primary-color-dk3);
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  transition: var(--transition1);
  height: 56px;
  width: 56px;
}

@media screen and (max-width: 768px) {
  .secondary-btn {
    font-size: 1.5rem;
    height: 48px;
    width: 48px;
  }
}

@media screen and (max-width: 480px) {
  .secondary-btn {
    font-size: 1.25rem;
    height: 42px;
    width: 42px;
  }
}

/* loading pokeball */

.loading-overlay {
  background-color: var(--primary-color-tr2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: var(--transition1);
  height: 100vh;
  width: 100%;
  z-index: 100;
}

.pokemons-loader {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  position: relative;
  width: 300px;
}

.pokemons-loader div,
.pokemons-loader::before,
.pokemons-loader::after {
  animation: loading-pulse 1.5s infinite 0.3s;
  background: var(--dull-red-clr);
  border-radius: 100%;
  opacity: 0;
  position: absolute;
  height: 300px;
  width: 300px;
}

.home-page .pokemons-loader div,
.home-page .pokemons-loader::before,
.home-page .pokemons-loader::after {
  height: 200px;
  width: 200px;
}

.pokemons-loader::before {
  animation: loading-pulse 1.5s infinite;
  background: url("./Images/pokeball2.png");
  background-size: 300px 300px;
  content: "";
  display: inline-block;
  position: absolute;
}

.home-page .pokemons-loader::before {
  background-size: 200px 200px;
}

.pokemons-loader::after {
  animation: loading-pulse 1.5s infinite 0.6s;
  content: "";
  display: inline-block;
  position: absolute;
}

@keyframes loading-pulse {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .pokemons-loader {
    width: 240px;
  }

  .pokemons-loader div,
  .pokemons-loader::before,
  .pokemons-loader::after {
    height: 240px;
    width: 240px;
  }

  .home-page .pokemons-loader div,
  .home-page .pokemons-loader::before,
  .home-page .pokemons-loader::after {
    height: 175px;
    width: 175px;
  }

  .pokemons-loader::before {
    background-size: 240px 240px;
  }

  .home-page .pokemons-loader::before {
    background-size: 175px 175px;
  }
}

@media screen and (max-width: 480px) {
  .pokemons-loader {
    width: 180px;
  }

  .pokemons-loader div,
  .pokemons-loader::before,
  .pokemons-loader::after {
    height: 180px;
    width: 180px;
  }

  .home-page .pokemons-loader div,
  .home-page .pokemons-loader::before,
  .home-page .pokemons-loader::after {
    height: 150px;
    width: 150px;
  }

  .pokemons-loader::before {
    background-size: 180px 180px;
  }

  .home-page .pokemons-loader::before {
    background-size: 150px 150px;
  }
}

/* ----------------- Home/Search Page ----------------- */

.home-page {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: var(--page-padding-lg-screen);
}

.pokemon-search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 1.5rem 0;
  height: fit-content;
}

/* pokemon logo */

.pokemon-logo-container img {
  width: 300px;
  user-select: none;
}

/* pokemon search heading */

.search-heading {
  color: var(--primary-color-dk2);
  font-size: 1.2rem;
  margin-bottom: -2rem;
  text-align: center;
  text-shadow: 1px 2px 2px var(--dark-tr-clr);
}

/* pokemon search field */

.search-container {
  width: fit-content;
}

.search-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search-field input {
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius2);
  box-shadow: var(--box-shadow);
  color: var(--primary-font-color);
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 1.5rem;
  transition: all 0.2s ease-in-out;
  height: 60px;
  width: 450px;
}

.search-field input:focus {
  box-shadow: var(--box-shadow-null), var(--box-shadow-inset);
  outline: none;
}

.search-btn {
  background-color: var(--orange-color);
  border: none;
  border-radius: var(--border-radius-circular);
  box-shadow: var(--box-shadow2);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition1);
  height: 60px;
  width: 60px;
}

.search-btn:active {
  box-shadow: var(--box-shadow-null), var(--box-shadow2-inset);
}

.search-icon {
  color: white;
  font-size: 1.2rem;
}

/* error message */

.search-error {
  height: 2rem;
  margin-top: 10px;
}

.search-error p {
  color: var(--red-color);
  font-weight: 600;
  margin-left: 0.5rem;
  opacity: 0;
  text-transform: capitalize;
  transition: opacity 0.2s ease-in-out;
}

.search-error .error-appear {
  opacity: 1;
}

/* pokedex btn */

.pokedex-btn {
  background-color: var(--primary-btn-color);
  border-radius: var(--border-radius1);
  box-shadow: var(--box-shadow2);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: var(--transition1);
  height: 100px;
  width: 300px;
}

.pokedex-btn:active {
  box-shadow: var(--box-shadow-null), var(--box-shadow2-inset);
}

.pokedex-btn p {
  font-size: 1.8rem;
  font-weight: 800;
  z-index: 10;
}

.pokedex-btn img {
  position: absolute;
  top: -20px;
  right: -10px;
  opacity: 0.5;
  user-select: none;
  width: 140px;
}

@media screen and (max-width: 1024px) {
  .pokemon-search-section {
    gap: 3.5rem;
  }

  /* pokemon logo */
  .pokemon-logo-container img {
    width: 260px;
  }

  /* search field */
  .search-field input {
    height: 55px;
    width: 400px;
  }

  .search-btn {
    height: 55px;
    width: 55px;
  }

  /* error message */
  .search-error {
    height: 1.8rem;
    margin-top: 8px;
  }

  .search-error p {
    margin-left: 0.4rem;
    font-size: 0.9rem;
  }

  /* pokedex btn */
  .pokedex-btn {
    height: 90px;
    width: 260px;
  }

  .pokedex-btn p {
    font-size: 1.6rem;
  }

  .pokedex-btn img {
    top: -15px;
    right: -8px;
    width: 120px;
  }
}

@media screen and (max-width: 768px) {
  .pokemon-search-section {
    gap: 3rem;
  }

  /* pokemon logo */
  .pokemon-logo-container img {
    width: 200px;
  }

  /* pokemon search heading */
  .search-heading {
    font-size: 1.1rem;
    margin-bottom: -1.5rem;
  }

  /* search field */
  .search-field input {
    font-size: 1.1rem;
    padding: 0.8rem 1.2rem;
    height: 50px;
    width: 350px;
  }

  .search-btn {
    height: 50px;
    width: 50px;
  }

  .search-icon {
    font-size: 1.1rem;
  }

  /* error message */
  .search-error {
    height: 1.6rem;
    margin-top: 6px;
  }

  .search-error p {
    margin-left: 0.4rem;
    font-size: 0.8rem;
  }

  /* pokedex btn */
  .pokedex-btn {
    height: 80px;
    width: 220px;
  }

  .pokedex-btn p {
    font-size: 1.4rem;
  }

  .pokedex-btn img {
    top: -10px;
    right: -8px;
    width: 100px;
  }
}

@media screen and (max-width: 480px) {
  .home-page {
    padding: var(--page-padding-sm-screen);
  }

  .pokemon-search-section {
    gap: 2.5rem;
  }

  /* pokemon logo */
  .pokemon-logo-container img {
    width: 160px;
  }

  /* pokemon search heading */
  .search-heading {
    font-size: 1rem;
    margin-bottom: -1rem;
    text-shadow: 1px 1.5px 2px var(--dark-tr-clr);
  }

  /* search field */
  .search-field {
    flex-direction: column;
    gap: 10px;
  }

  .search-field input {
    font-size: 1rem;
    padding: 0.6rem 1rem;
    height: 40px;
    width: 300px;
  }

  .search-btn {
    border-radius: var(--border-radius2);
    height: 40px;
    width: 80px;
  }

  .search-icon {
    font-size: 1rem;
  }

  /* error message */
  .search-error {
    height: 1.6rem;
    margin-top: 6px;
  }

  .search-error p {
    margin-left: 0.4rem;
    font-size: 0.8rem;
  }

  /* pokedex btn */
  .pokedex-btn {
    height: 60px;
    width: 180px;
  }

  .pokedex-btn p {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .pokedex-btn img {
    right: -6px;
    width: 80px;
  }
}

@media screen and (max-width: 360px) {
  .home-page {
    padding: var(--page-padding-sm-screen);
  }

  .pokemon-search-section {
    gap: 2.25rem;
  }

  /* pokemon logo */
  .pokemon-logo-container img {
    width: 140px;
  }

  /* pokemon search heading */
  .search-heading {
    font-size: 0.9rem;
  }

  /* search field */
  .search-field input {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    height: 36px;
    width: 250px;
  }

  .search-btn {
    height: 36px;
    width: 72px;
  }

  .search-icon {
    font-size: 0.9rem;
  }

  /* error message */
  .search-error p {
    margin-left: 0.4rem;
    font-size: 0.75rem;
  }

  /* pokedex btn */
  .pokedex-btn {
    height: 50px;
    width: 160px;
  }

  .pokedex-btn p {
    font-size: 1.1rem;
  }

  .pokedex-btn img {
    right: -4px;
    width: 70px;
  }
}

/* ----------- Pokemon List Page ------------ */

.pokemon-list-page {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*--- pokemon filter ---*/

.pokemon-filter-container {
  background-color: var(--primary-color-tr);
  backdrop-filter: blur(10px);
  flex: 0 1 auto;
  padding: var(--page-padding-lg-screen) 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.filter-header {
  align-items: center;
  display: flex;
  gap: 2rem;
  padding: 0.5rem;
}

/* filter section buttons */

.home-btn,
.filter-header .bookmarks-btn {
  box-shadow: var(--box-shadow);
}

.home-btn:active,
.filter-header .bookmarks-btn:active {
  box-shadow: var(--box-shadow-null), var(--box-shadow-inset);
}

@media (hover: hover) {
  .home-btn:hover,
  .bookmarks-btn:hover {
    color: var(--primary-color-dk2);
  }
}

.filter-btn {
  font-size: 1rem;
  gap: 4px;
  margin-left: auto;
  height: 40px;
  width: 100px;
}

/* filter options container */

.filter-options-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  height: 0px;
  overflow: hidden;
  padding: 0 1rem;
  transition: var(--transition2);
}

.show-filters {
  padding: 1rem !important;
  height: 136px !important;
}

.filter-options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

.filter-options select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--primary-color) url("./Images/arrow-down.png") no-repeat;
  background-size: 13px;
  background-position: 95% 50%;
  border: none;
  border-radius: var(--border-radius2);
  box-shadow: var(--box-shadow3);
  color: var(--primary-font-color);
  cursor: pointer;
  font-family: var(--primary-font);
  font-size: 0.9rem;
  font-weight: 600;
  padding: 8px 1rem;
  text-transform: capitalize;
  transition: box-shadow 0.1s ease-in-out;
  width: 200px;
}

.filter-options select:focus {
  box-shadow: var(--box-shadow);
  outline: none;
}

.bold-font {
  font-weight: 800 !important;
}

.reset-btn {
  font-size: 0.9rem;
  height: 35px;
  width: 140px;
}

.border-line {
  background-color: var(--primary-btn-color);
  border-radius: var(--border-radius1);
  height: 2px;
}

@media screen and (max-width: 1240px) {
  .filter-options {
    grid-template-columns: repeat(4, 1fr);
  }

  .show-filters {
    height: 188px !important;
  }
}

@media screen and (max-width: 1024px) {
  /* filter options container */
  .filter-options {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .pokemon-filter-container {
    padding: var(--page-padding-md-screen) 0;
  }

  /* filter header */
  .filter-header {
    gap: 1.5rem;
  }

  /* filter section buttons */
  .filter-btn {
    font-size: 0.9rem;
    height: 36px;
    width: 90px;
  }

  /* filter options container */
  .filter-options-container {
    gap: 0.75rem;
    padding: 0 0.75rem;
  }

  .show-filters {
    padding: 0.75rem !important;
    height: 160px !important;
  }

  .filter-options {
    gap: 0.75rem;
  }

  .filter-options select {
    background-size: 11px;
    font-size: 0.8rem;
    padding: 7px 0.75rem;
    width: 180px;
  }

  .reset-btn {
    font-size: 0.9rem;
    height: 30px;
    width: 125px;
  }
}

@media screen and (max-width: 640px) {
  /* filter options container */
  .show-filters {
    padding: 0.5rem !important;
    height: 188px !important;
  }

  .filter-options {
    grid-template-columns: repeat(2, 1fr);
  }

  .filter-options select {
    padding: 6px 1rem;
    width: 200px;
  }
}

@media screen and (max-width: 480px) {
  .pokemon-filter-container {
    padding: var(--page-padding-sm-screen) 0;
  }

  /* filter header */
  .filter-header {
    gap: 1rem;
    padding: 0.5rem;
  }

  /* filter section buttons */
  .filter-btn {
    font-size: 0.8rem;
    gap: 3px;
    height: 32px;
    width: 80px;
  }

  /* filter options container */
  .filter-options-container {
    gap: 0.5rem;
    padding: 0 0.5rem;
  }

  .show-filters {
    height: 158px !important;
  }

  .filter-options {
    gap: 0.5rem;
    padding: 0.25rem;
  }

  .filter-options select {
    background-size: 10px;
    font-size: 0.7rem;
    padding: 6px 0.6rem;
    width: 154px;
  }

  .reset-btn {
    font-size: 0.8rem;
    height: 27px;
    width: 100px;
  }

  .border-line {
    height: 1.5px;
  }
}

@media screen and (max-width: 360px) {
  /* filter header */
  .filter-header {
    gap: 0.5rem;
  }

  /* filter options container */
  .show-filters {
    height: 229px !important;
  }

  .filter-options {
    grid-template-columns: 1fr;
  }

  .filter-options select {
    font-size: 0.7rem;
    padding: 6px 1rem;
    width: 200px;
  }
}

/*--- pokemon list constainer ---*/

.pokemon-list-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 0 auto;
  padding: var(--page-padding-lg-screen);
  position: relative;
  transition: var(--transition1);
  height: 100%;
}

/*-- pokemon list heading --*/

.pokemon-list-heading {
  color: var(--secondary-font-color);
  flex: 0 1 auto;
  font-size: 2.2rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin: 1rem 0;
}

.pokemon-list-heading span {
  color: var(--dull-red-clr);
  font-size: 1.8rem;
  font-style: italic;
}

/*-- pokemon card list --*/

.pokemon-list {
  display: grid;
  flex: 1 1 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem 2rem;
  padding-top: 5rem;
  width: 100%;
}

/* scroll btn */

.scroll-top-btn {
  border-radius: 50% !important;
  font-size: 2rem;
  position: fixed;
  bottom: 20px;
  right: 30px;
  height: 60px;
  width: 60px;
  z-index: 101;
}

/* scroll list loading */

.scroll-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 2rem 0;
  width: 100%;
}

.loading-dot {
  background-color: var(--primary-color-dk3);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}

.loading-dot:first-child {
  animation: loading-bounce 0.8s ease-in-out 0s infinite;
}

.loading-dot:nth-child(2) {
  animation: loading-bounce 0.8s ease-in-out 0.15s infinite;
}

.loading-dot:nth-child(3) {
  animation: loading-bounce 0.8s ease-in-out 0.3s infinite;
}

@keyframes loading-bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

/*- pokemon card -*/

.pokemon-card {
  backdrop-filter: blur(12px);
  border-radius: var(--border-radius2);
  box-shadow: var(--box-shadow);
  text-decoration: none;
  cursor: pointer;
  display: flex;
  padding: 1.5rem 2rem;
  position: relative;
  transition: var(--transition1);
  height: 200px;
  width: 360px;
}

@media (hover: hover) {
  .pokemon-card:hover {
    transition: var(--transition2);
    transform: scale(1.01);
  }
}

.pokemon-card:focus {
  outline: none;
  transform: scale(1.01);
}

.pokemon-card:active {
  color: inherit;
  box-shadow: var(--box-shadow-null), var(--box-shadow-inset);
}

/* pokemon image */

.pokemon-card .pokemon-img-container {
  position: absolute;
  left: 0;
  top: -40%;
  text-align: center;
  width: 100%;
}

.pokemon-card .pokemon-img {
  color: var(--black-font-color);
  filter: drop-shadow(var(--drop-shadow)) contrast(1.25);
  height: 180px;
  user-select: none;
}

/* pokemon data */

.pokemon-card .pokemon-data-container {
  align-self: flex-end;
  z-index: 10;
}

.pokemon-card .pokemon-id {
  color: var(--white-color-tr);
  font-size: 1.5rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.pokemon-card .pokemon-name {
  color: var(--black-font-color);
  font-size: 1.5rem;
  text-align: left;
  text-transform: capitalize;
}

/* pokemon type */

.pokemon-card .pokemon-type-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: fit-content;
}

.pokemon-card .pokemon-type {
  background-color: var(---white-color-tr2);
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius2);
  box-shadow: var(--box-shadow4);
  color: white;
  display: flex;
  font-size: 1rem;
  gap: 6px;
  justify-content: center;
  padding: 4px 10px;
  text-transform: capitalize;
  width: fit-content;
}

.pokemon-card .pokemon-type img {
  width: 1rem;
}

/* pokemon type colors */

.grass {
  background-color: var(--grass-color) !important;
}

.fire {
  background-color: var(--fire-color) !important;
}

.water {
  background-color: var(--water-color) !important;
}

.normal {
  background-color: var(--normal-color) !important;
}

.fighting {
  background-color: var(--fighting-color) !important;
}

.flying {
  background-color: var(--flying-color) !important;
}

.poison {
  background-color: var(--poison-color) !important;
}

.ground {
  background-color: var(--ground-color) !important;
}

.rock {
  background-color: var(--rock-color) !important;
}

.bug {
  background-color: var(--bug-color) !important;
}

.ghost {
  background-color: var(--ghost-color) !important;
}

.steel {
  background-color: var(--steel-color) !important;
}

.electric {
  background-color: var(--electric-color) !important;
}

.psychic {
  background-color: var(--psychic-color) !important;
}

.ice {
  background-color: var(--ice-color) !important;
}

.dragon {
  background-color: var(--dragon-color) !important;
}

.dark {
  background-color: var(--dark-color) !important;
}

.fairy {
  background-color: var(--fairy-color) !important;
}

.shadow {
  background-color: var(--shadow-color) !important;
}

/* pokemon card colors */

.grass-card {
  background-color: var(--grass-color-tr);
}

.fire-card {
  background-color: var(--fire-color-tr);
}

.water-card {
  background-color: var(--water-color-tr);
}

.normal-card {
  background-color: var(--normal-color-tr);
}

.fighting-card {
  background-color: var(--fighting-color-tr);
}

.flying-card {
  background-color: var(--flying-color-tr);
}

.poison-card {
  background-color: var(--poison-color-tr);
}

.ground-card {
  background-color: var(--ground-color-tr);
}

.rock-card {
  background-color: var(--rock-color-tr);
}

.bug-card {
  background-color: var(--bug-color-tr);
}

.ghost-card {
  background-color: var(--ghost-color-tr);
}

.steel-card {
  background-color: var(--steel-color-tr);
}

.electric-card {
  background-color: var(--electric-color-tr);
}

.psychic-card {
  background-color: var(--psychic-color-tr);
}

.ice-card {
  background-color: var(--ice-color-tr);
}

.dragon-card {
  background-color: var(--dragon-color-tr);
}

.dark-card {
  background-color: var(--dark-color-tr);
}

.fairy-card {
  background-color: var(--fairy-color-tr);
}

.shadow-card {
  background-color: var(--shadow-color-tr);
}

/* loading */

.pokeball-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokeball-loading .loading-icon {
  animation: loading 0.5s linear infinite forwards;
  color: var(--primary-color-dk2);
  font-size: 4rem;
  margin: 0;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1280px) {
  /*-- pokemon card list --*/
  .pokemon-list {
    gap: 5.4rem 1rem;
    padding-top: 4.6rem;
  }

  /*- pokemon card -*/
  .pokemon-card {
    padding: 1.3rem 1.75rem;
    height: 184px;
    width: 310px;
  }

  /* pokemon image */
  .pokemon-card .pokemon-img {
    height: 160px;
  }
}

@media screen and (max-width: 1024px) {
  /*-- pokemon card list --*/
  .pokemon-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .pokemon-list-container {
    padding: var(--page-padding-md-screen);
  }

  /*-- pokemon list heading --*/
  .pokemon-list-heading {
    font-size: 1.8rem;
    margin: 0.5rem 0;
  }

  .pokemon-list-heading span {
    font-size: 1.5rem;
  }

  /*-- pokemon card list --*/
  .pokemon-list {
    gap: 4.75rem 1rem;
    padding-top: 4.1rem;
  }

  /* scroll btn */
  .scroll-top-btn {
    font-size: 1.5rem;
    bottom: 10px;
    right: 20px;
    height: 50px;
    width: 50px;
  }

  /* scroll list loading */
  .scroll-loader {
    gap: 7px;
    margin: 1.5rem 0;
  }

  .loading-dot {
    height: 0.8rem;
    width: 0.8rem;
  }

  @keyframes loading-bounce {
    0% {
      transform: translateY(-4px);
    }
    50% {
      transform: translateY(4px);
    }
    100% {
      transform: translateY(-4px);
    }
  }

  /*- pokemon card -*/
  .pokemon-card {
    padding: 0.8rem 1.25rem;
    height: 160px;
    width: 280px;
  }

  /* pokemon image */
  .pokemon-card .pokemon-img {
    height: 140px;
  }

  /* pokemon data */
  .pokemon-card .pokemon-id {
    font-size: 1.35rem;
    bottom: 0.75rem;
    right: 0.75rem;
  }

  .pokemon-card .pokemon-name {
    font-size: 1.35rem;
  }

  /* pokemon type */
  .pokemon-card .pokemon-type-container {
    gap: 3px;
  }

  .pokemon-card .pokemon-type {
    font-size: 0.9rem;
    gap: 4px;
    padding: 3px 8px;
  }

  .pokemon-card .pokemon-type img {
    width: 0.9rem;
  }

  /* loading */
  .pokeball-loading .loading-icon {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 640px) {
  /*-- pokemon card list --*/
  .pokemon-list {
    grid-template-columns: 1fr;
    gap: 4.8rem 1rem;
    padding-top: 4.2rem;
  }

  /*- pokemon card -*/
  .pokemon-card {
    border-radius: var(--border-radius4);
    padding: 1.3rem 1.75rem;
    height: 190px;
    width: 310px;
  }

  /* pokemon image */
  .pokemon-card .pokemon-img-container {
    top: -35%;
  }

  .pokemon-card .pokemon-img {
    height: 160px;
  }
}

@media screen and (max-width: 480px) {
  .pokemon-list-container {
    padding: var(--page-padding-sm-screen);
  }

  /*-- pokemon list heading --*/
  .pokemon-list-heading {
    font-size: 1.5rem;
    margin: 0.25rem 0;
  }

  .pokemon-list-heading span {
    font-size: 1.25rem;
  }

  /* scroll list loading */
  .scroll-loader {
    gap: 5px;
  }

  .loading-dot {
    height: 0.6rem;
    width: 0.6rem;
  }

  @keyframes loading-bounce {
    0% {
      transform: translateY(-3px);
    }
    50% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(-3px);
    }
  }
}

@media screen and (max-width: 360px) {
  /*-- pokemon card list --*/
  .pokemon-list {
    gap: 3.8rem 0.5rem;
    padding-top: 3.3rem;
  }

  /* scroll btn */
  .scroll-top-btn {
    font-size: 1.25rem;
    right: 10px;
    height: 40px;
    width: 40px;
  }

  /*- pokemon card -*/
  .pokemon-card {
    border-radius: var(--border-radius3);
    padding: 0.75rem 1rem;
    height: 146px;
    width: 260px;
  }

  /* pokemon image */
  .pokemon-card .pokemon-img {
    height: 120px;
  }

  /* pokemon data */
  .pokemon-card .pokemon-id {
    font-size: 1.25rem;
    bottom: 0.6rem;
    right: 0.6rem;
  }

  .pokemon-card .pokemon-name {
    font-size: 1.25rem;
  }

  /* pokemon type */
  .pokemon-card .pokemon-type-container {
    gap: 2px;
  }

  .pokemon-card .pokemon-type {
    font-size: 0.8rem;
    gap: 3px;
    padding: 3px 7px;
  }

  .pokemon-card .pokemon-type img {
    width: 0.8rem;
  }

  /* loading */
  .pokeball-loading .loading-icon {
    font-size: 3rem;
  }
}

/*------------ Pokemon details page ------------*/

.pokemon-details-page {
  background-color: var(--primary-color);
}

/*-- loading container --*/

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

/*-- pokemon basic section --*/

.pokemon-basics {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  height: 600px;
  overflow: hidden;
  padding: var(--page-padding-lg-screen);
  position: relative;
}

/* pokemon basics buttons */

.pokemon-basics .home-btn {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.bookmarks-btn-container {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.pokemon-basics .home-btn,
.bookmarks-btn-container .bookmark-pokemon-btn,
.bookmarks-btn-container .bookmarks-btn {
  border: none;
  box-shadow: var(--box-shadow2);
  z-index: 10;
}

.pokemon-basics .home-btn:active,
.bookmarks-btn-container .bookmark-pokemon-btn:active,
.bookmarks-btn-container .bookmarks-btn:active {
  box-shadow: var(--box-shadow-null), var(--box-shadow2-inset);
}

.bookmarked {
  color: var(--yellow-color);
}

/* basic details */

.basic-details {
  flex: 1 1 0px;
  max-width: 400px;
  overflow: hidden;
}

.basic-details .pokemon-id {
  color: white;
  margin: 2px 0;
}

.basic-details .pokemon-name {
  color: white;
  font-size: 3rem;
  margin: 10px 0;
  letter-spacing: 8px;
  line-height: 1.25;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  word-wrap: break-word;
}

.basic-details .pokemon-type-container {
  display: flex;
  gap: 1rem;
  margin-left: 0.2rem;
  width: fit-content;
}

.basic-details .pokemon-type {
  background-color: var(---white-color-tr2);
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius3);
  box-shadow: var(--box-shadow4);
  color: white;
  display: flex;
  gap: 6px;
  justify-content: center;
  margin: 5px 0;
  padding: 6px 1rem;
  text-decoration: none;
  text-transform: capitalize;
  width: fit-content;
}

.basic-details .pokemon-type img {
  width: 1rem;
}

.basic-details .pokemon-description {
  color: white;
  font-size: 1.1rem;
  margin: 10px 0;
  text-transform: capitalize;
}

/* basic details division */

.division-line {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.division-line::before,
.division-line::after {
  border-radius: var(--border-radius2);
  content: "";
  position: absolute;
  width: 2px;
  height: calc(50% - 60px);
  z-index: 10;
}

.division-line::before {
  background: linear-gradient(
    to top,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
  top: 20px;
}

.division-line::after {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
  bottom: 20px;
}

.division-line img {
  color: black;
  height: 40px;
}

/* basics details image */

.pokemon-details-page .pokemon-img {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1 1 0px;
  max-width: 400px;
}

.pokemon-details-page .pokemon-img img {
  filter: drop-shadow(var(--drop-shadow)) contrast(1.5);
  aspect-ratio: auto 1/1;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  /* basic details */
  .basic-details .pokemon-name {
    font-size: 2.5rem;
    letter-spacing: 6px;
  }

  .basic-details .pokemon-type-container {
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .pokemon-basics {
    flex-direction: column-reverse;
    height: fit-content;
    text-align: center;
    padding: var(--page-padding-md-screen);
  }

  /* pokemon basics buttons */
  .pokemon-basics .home-btn {
    top: 1.75rem;
    left: 1.5rem;
  }

  .bookmarks-btn-container {
    top: 1.75rem;
    right: 1.5rem;
  }

  /* basic details */
  .basic-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
  }

  .basic-details .pokemon-id {
    font-size: 1.25rem;
  }

  .basic-details .pokemon-name {
    font-size: 2rem;
    margin: 8px 0;
  }

  .basic-details .pokemon-type-container {
    margin: 0 auto;
    gap: 0.75rem;
  }

  .basic-details .pokemon-type {
    font-size: 0.9rem;
    gap: 5px;
    margin: 4px 0;
    padding: 5px 0.9rem;
  }

  .basic-details .pokemon-type img {
    width: 0.9rem;
  }

  .basic-details .pokemon-description {
    font-size: 1rem;
    margin: 8px 0;
  }

  /* basic details division */
  .division-line::before,
  .division-line::after {
    height: 2px;
    width: calc(50% - 50px);
  }

  .division-line::before {
    background: linear-gradient(
      to left,
      rgb(255, 255, 255) 25%,
      rgba(255, 255, 255, 0)
    );
    top: calc(50% - 1px);
    left: 1.5rem;
  }

  .division-line::after {
    background: linear-gradient(
      to right,
      rgb(255, 255, 255) 25%,
      rgba(255, 255, 255, 0)
    );
    bottom: calc(50% - 1px);
    right: 1.5rem;
  }

  .division-line img {
    height: 30px;
  }

  /* basics details image */
  .pokemon-details-page .pokemon-img {
    min-height: 300px;
  }

  .pokemon-details-page .pokemon-img img {
    height: 100%;
    width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .pokemon-basics {
    padding: var(--page-padding-sm-screen);
  }

  /* pokemon basics buttons */
  .pokemon-basics .home-btn {
    top: 1.5rem;
    left: 1.25rem;
  }

  .bookmarks-btn-container {
    top: 1.5rem;
    right: 1.25rem;
  }

  /* basic details */
  .basic-details {
    min-height: 260px;
  }

  .basic-details .pokemon-id {
    font-size: 1.1rem;
  }

  .basic-details .pokemon-name {
    font-size: 1.5rem;
    margin: 6px 0;
  }

  .basic-details .pokemon-type-container {
    gap: 0.5rem;
  }

  .basic-details .pokemon-type {
    font-size: 0.85rem;
    gap: 4px;
    margin: 3px 0;
    padding: 4px 0.8rem;
  }

  .basic-details .pokemon-type img {
    width: 0.85rem;
  }

  .basic-details .pokemon-description {
    font-size: 0.9rem;
    margin: 6px 0;
  }

  /* basic details division */
  .division-line::before,
  .division-line::after {
    width: calc(50% - 40px);
  }

  .division-line img {
    height: 1.5rem;
  }

  /* basics details image */
  .pokemon-details-page .pokemon-img {
    min-height: 260px;
  }

  .pokemon-details-page .pokemon-img img {
    width: 260px;
  }
}

@media screen and (max-width: 360px) {
  /* basics details image */
  .pokemon-details-page .pokemon-img img {
    width: 220px;
  }
}

/*-- pokemon specs section --*/

.pokemon-specs {
  display: grid;
  gap: 2rem 4rem;
  grid-template-areas:
    "pa pa"
    "ps pm"
    "pe pe";
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding: var(--page-padding-lg-screen);
  padding-top: 2rem;
}

/* pokemon about data */

.pokemon-about {
  background-color: var(--light-blue-clr);
  border-radius: var(--border-radius1);
  display: grid;
  gap: 2rem;
  grid-area: pa;
  grid-template-columns: repeat(5, 1fr);
  padding: 1.5rem;
  text-transform: capitalize;
}

.about-details div {
  margin: 0 auto;
  white-space: nowrap;
  width: fit-content;
}

.about-details h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.vertical-center {
  vertical-align: middle;
}

.pokemon-ability p span,
.pokemon-group p span {
  margin-left: 4px;
}

/* pokemon stats */

.pokemon-specs .stats {
  grid-area: ps;
}

.pokemon-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.pokemon-stats .stat {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 10px 0;
}

.pokemon-stats .stat h4 {
  text-transform: capitalize;
  width: 160px;
}

.pokemon-stats .stat p {
  font-size: 1rem;
  text-transform: capitalize;
  white-space: nowrap;
}

.pokemon-stats .stat .base-stat-value {
  text-align: center;
  width: 40px;
}

.pokemon-stats .stat-bar {
  background-color: var(--grey-clr);
  border-radius: var(--border-radius1);
  flex: 1 1 auto;
  height: 8px;
}

.pokemon-stats .stat-bar .slide-value {
  border-radius: var(--border-radius1);
  position: relative;
  transition: all 2s ease-in-out;
  height: 100%;
  width: var(--stat-value);
}

.high-stat {
  --stat-range-bg: var(--green-color);
}

.low-stat {
  --stat-range-bg: var(--red-color);
}

.high-stat::after,
.low-stat::after {
  animation: fill 2s backwards;
  background: var(--stat-range-bg);
  border-radius: var(--border-radius1);
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

@keyframes fill {
  0% {
    width: 0%;
  }
}

.pokemon-stats .stat .max-stat-value {
  color: var(--secondary-font-color);
}

.stats h2,
.moves h2,
.evolution h2 {
  margin-bottom: 1rem;
}

/* pokemon moves */

.pokemon-specs .moves {
  grid-area: pm;
}

.pokemon-moves {
  box-shadow: var(--box-shadow5-inset);
  border-radius: var(--border-radius3);
  display: grid;
  gap: 0.25rem 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: scroll;
  padding: 1rem;
  text-transform: capitalize;
  height: 300px;
}

/* width */
.pokemon-moves::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.pokemon-moves::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.pokemon-moves::-webkit-scrollbar-thumb {
  background: rgb(145, 145, 145);
  border-radius: 10px;
}
.pokemon-moves::-webkit-scrollbar-thumb:hover {
  background: rgb(160, 160, 160);
}

/* pokemon evolution */

.pokemon-specs .evolution {
  grid-area: pe;
}

.evolution-chain {
  background-color: var(--primary-btn-color);
  border-radius: var(--border-radius2);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
  padding: 2rem 1rem;
}

.first-stage,
.middle-stage,
.last-stage {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 3rem;
}

.multi-level {
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 70%;
}

.evolution-stage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pokemon-evolution {
  background-color: inherit;
  border: none;
  display: flex;
  font: inherit;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
}

.evolution-img-container {
  background-color: var(--light-blue-clr);
  border: 6px solid white;
  border-radius: var(--border-radius2);
  cursor: pointer;
  text-align: center;
  height: 200px;
  width: 200px;
}

.multi-level .evolution-img-container {
  border: 4px solid white;
  height: 140px;
  width: 140px;
}

.evolution-img-container img {
  filter: drop-shadow(var(--drop-shadow)) contrast(1.25);
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.pokemon-evolution .pokemon-id {
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none;
}

.pokemon-evolution .pokemon-id p {
  font-size: 1.1rem;
  font-weight: 600;
}

.pokemon-evolution .pokemon-types {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  justify-content: center;
}

.pokemon-evolution .pokemon-types a {
  border-radius: var(--border-radius3);
  box-shadow: var(--box-shadow4);
  color: white;
  display: flex;
  font-size: 0.9rem;
  gap: 6px;
  align-items: center;
  justify-content: center;
  padding: 4px;
  text-decoration: none;
  width: 110px;
}

.pokemon-evolution .pokemon-types a img {
  width: 0.9rem;
}

.evolution-method {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.first-stage .evolution-method {
  right: -3rem;
}

.middle-stage .evolution-method,
.last-stage .evolution-method {
  left: -3rem;
}

.evolution-method .arrow-icon {
  color: white;
  font-size: 3rem;
}

.no-evolve-heading {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .pokemon-specs {
    gap: 2rem 3rem;
  }

  /* pokemon stats */
  .pokemon-stats .stat {
    position: relative;
  }

  .pokemon-stats .stat .max-stat-value {
    font-size: 0.9rem;
    position: absolute;
    top: 14px;
    right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .pokemon-specs {
    gap: 2rem;
  }

  /* pokemon stats */
  .pokemon-stats .stat {
    gap: 0.5rem;
  }

  .pokemon-stats .stat h4 {
    width: 140px;
  }

  .pokemon-stats .stat .base-stat-value {
    width: 30px;
  }

  /* pokemon moves */
  .pokemon-moves {
    grid-template-columns: repeat(2, 1fr);
  }

  /* pokemon evolution */
  .evolution-chain {
    gap: 2.5rem;
  }

  .evolution-img-container {
    border: 4px solid white;
    height: 160px;
    width: 160px;
  }

  .multi-level .evolution-img-container {
    height: 120px;
    width: 120px;
  }

  .pokemon-evolution .pokemon-types {
    gap: 0.25rem;
  }

  .pokemon-evolution .pokemon-types a {
    font-size: 0.85rem;
    gap: 4px;
    width: 82px;
  }

  .pokemon-evolution .pokemon-types a img {
    width: 0.85rem;
  }

  .first-stage .evolution-method {
    right: -2.5rem;
  }

  .middle-stage .evolution-method,
  .last-stage .evolution-method {
    left: -2.5rem;
  }

  .evolution-method .arrow-icon {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .pokemon-specs {
    gap: 2rem 4rem;
    grid-template-areas:
      "pa"
      "ps"
      "pm"
      "pe";
    grid-template-columns: 1fr;
    padding: var(--page-padding-md-screen);
    padding-top: 1.5rem;
  }

  /* pokemon about data */
  .pokemon-about {
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem 1.5rem;
  }

  .about-details div {
    margin-left: 0;
  }

  .about-details h3 {
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
  }

  .about-details p {
    font-size: 0.9rem;
  }

  .pokemon-ability p span,
  .pokemon-group p span {
    margin-left: 3px;
  }

  /* pokemon stats */
  .pokemon-stats {
    height: fit-content;
  }

  .pokemon-stats .stat {
    gap: 0.75rem;
    margin: 8px 0;
  }

  .pokemon-stats .stat h4 {
    font-size: 0.9rem;
    width: 160px;
  }

  .pokemon-stats .stat p {
    font-size: 0.9rem;
  }

  .pokemon-stats .stat .base-stat-value {
    width: 40px;
  }

  .pokemon-stats .stat-bar {
    height: 6px;
  }

  .pokemon-stats .stat .max-stat-value {
    font-size: 0.8rem;
    top: 12px;
  }

  .stats h2,
  .moves h2,
  .evolution h2 {
    font-size: 1.3rem;
    margin-bottom: 0.75rem;
  }

  /* pokemon moves */
  .pokemon-moves {
    font-size: 0.9rem;
    grid-template-columns: repeat(3, 1fr);
    height: 280px;
  }

  .pokemon-moves::-webkit-scrollbar {
    width: 8px;
  }

  /* pokemon evolution */
  .evolution-chain {
    flex-direction: column;
    gap: 6rem;
    padding: 1.5rem 1rem;
  }

  .first-stage,
  .middle-stage,
  .last-stage {
    flex-direction: row;
    gap: 2rem 1rem;
    justify-content: space-evenly;
    min-width: 100%;
  }

  .evolution-img-container {
    border: 4px solid white;
    height: 200px;
    width: 200px;
  }

  .pokemon-evolution .pokemon-id {
    margin-top: 0.5rem;
  }

  .pokemon-evolution .pokemon-id h3 {
    font-size: 1.1rem;
  }

  .pokemon-evolution .pokemon-id p {
    font-size: 1rem;
  }

  .multi-level .pokemon-evolution .pokemon-types,
  .two-level .pokemon-evolution .pokemon-types {
    flex-wrap: wrap;
  }

  .pokemon-evolution .pokemon-types {
    gap: 0.25rem 0.5rem;
  }

  .pokemon-evolution .pokemon-types a {
    font-size: 0.9rem;
    width: 90px;
  }

  .pokemon-evolution .pokemon-types a img {
    width: 0.9rem;
  }

  .first-stage .evolution-method {
    right: auto;
    bottom: -4.5rem;
  }

  .middle-stage .evolution-method,
  .last-stage .evolution-method {
    left: auto;
    top: -4.5rem;
  }

  .evolution-method .arrow-icon {
    height: 3rem;
    width: 3rem;
    transform: rotate(90deg);
  }

  .no-evolve-heading {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 640px) {
  /* pokemon about data */
  .pokemon-about {
    grid-template-columns: repeat(3, 1fr);
  }

  /* pokemon evolution */
  .two-level .evolution-img-container {
    height: 140px;
    width: 140px;
  }
}

@media screen and (max-width: 480px) {
  .pokemon-specs {
    padding: var(--page-padding-sm-screen);
  }

  /* pokemon about data */
  .pokemon-about {
    gap: 1rem;
    padding: 0.75rem 1rem;
  }

  .about-details h3 {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }

  .about-details p {
    font-size: 0.85rem;
  }

  /* pokemon stats */
  .pokemon-stats .stat {
    gap: 0.5rem;
    margin: 7px 0;
  }

  .pokemon-stats .stat h4 {
    font-size: 0.85rem;
    width: 120px;
  }

  .pokemon-stats .stat p {
    font-size: 0.85rem;
  }

  .pokemon-stats .stat .base-stat-value {
    width: 30px;
  }

  .pokemon-stats .stat-bar {
    height: 5px;
  }

  .pokemon-stats .stat .max-stat-value {
    font-size: 0.75rem;
    top: 11px;
  }

  .stats h2,
  .moves h2,
  .evolution h2 {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  /* pokemon moves */
  .pokemon-moves {
    font-size: 0.85rem;
    grid-template-columns: repeat(2, 1fr);
    height: 260px;
    padding: 0.75rem;
  }

  .pokemon-moves::-webkit-scrollbar {
    width: 6px;
  }

  /* pokemon evolution */
  .evolution-chain {
    gap: 5rem;
    padding: 20px 1rem;
  }

  .evolution-img-container {
    height: 180px;
    width: 180px;
  }

  .pokemon-evolution .pokemon-id {
    margin-top: 0.25rem;
  }

  .pokemon-evolution .pokemon-id h3 {
    font-size: 1rem;
  }

  .pokemon-evolution .pokemon-id p {
    font-size: 0.9rem;
  }

  .two-level .evolution-img-container {
    height: 120px;
    width: 120px;
  }

  .pokemon-evolution .pokemon-types a {
    gap: 4px;
    font-size: 0.85rem;
    width: 90px;
  }

  .pokemon-evolution .pokemon-types a img {
    width: 0.85rem;
  }

  .first-stage .evolution-method {
    bottom: -3.75rem;
  }

  .middle-stage .evolution-method,
  .last-stage .evolution-method {
    top: -3.75rem;
  }

  .evolution-method .arrow-icon {
    font-size: 2rem;
  }

  .no-evolve-heading {
    font-size: 1rem;
  }

  .evolution-method .arrow-icon {
    height: 2.5rem;
    width: 2.5rem;
  }
}

@media screen and (max-width: 360px) {
  /* pokemon about data */
  .pokemon-about {
    grid-template-columns: repeat(2, 1fr);
  }

  /* pokemon stats */
  .pokemon-stats .stat {
    gap: 0.25rem;
    margin: 6px 0;
  }

  /* pokemon-evolution */
  .two-level {
    column-gap: 0.5rem;
  }

  .two-level .evolution-img-container {
    border: 3px solid white;
    height: 110px;
    width: 110px;
  }
}

/*------------ Bookmark Page ------------*/

.bookmarks-page {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: var(--page-padding-lg-screen);
  min-height: 100vh;
}

/*-- bookmarks header --*/

.bookmarks-header {
  display: flex;
  gap: 2rem;
  padding: 0.5rem;
}

/* bookmarks page buttons */

.bookmarks-page .home-btn {
  aspect-ratio: 1/1;
}

.delete-bookmarks-btn {
  font-size: 1rem;
  height: 42px;
  min-width: 100px;
  margin-top: calc(28px - 21px);
}

/* bookmarks heading */

.bookmarks-heading {
  color: var(--secondary-font-color);
  font-size: 2.2rem;
  text-transform: capitalize;
  flex: 1 1 auto;
  line-height: 1.25;
  margin: auto 0;
}

.bookmarks-heading span {
  color: var(--dull-red-clr);
  font-size: 1.8rem;
  font-style: italic;
}

/*-- bookmarks container --*/

.bookmarks-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 0 auto;
  height: 100%;
}

.bookmarked-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem 2rem;
  padding-top: 5rem;
  width: 100%;
}

/* no bookmarks message */

.no-bookmarks-message {
  color: var(--primary-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  text-align: center;
  height: 100%;
}

@media screen and (max-width: 1280px) {
  /*-- bookmarks container --*/
  .bookmarked-items {
    gap: 5.4rem 1rem;
    padding-top: 4.6rem;
  }
}

@media screen and (max-width: 1024px) {
  /*-- bookmarks container --*/
  .bookmarked-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .bookmarks-page {
    padding: var(--page-padding-md-screen);
  }

  /*-- bookmarks header --*/
  .bookmarks-header {
    gap: 1.5rem;
  }

  /* bookmarks page buttons */
  .delete-bookmarks-btn {
    font-size: 0.9rem;
    height: 36px;
    min-width: 85px;
    margin-top: calc(24px - 18px);
  }

  /* bookmarks heading */
  .bookmarks-heading {
    font-size: 1.8rem;
  }

  .bookmarks-heading span {
    font-size: 1.5rem;
  }

  /*-- bookmarks container --*/
  .bookmarked-items {
    gap: 4.75rem 1rem;
    padding-top: 4.1rem;
  }

  /* no bookmarks message */
  .no-bookmarks-message {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 640px) {
  /*-- bookmarks container --*/
  .bookmarked-items {
    grid-template-columns: 1fr;
    gap: 4.8rem 1rem;
    padding-top: 4.2rem;
  }
}

@media screen and (max-width: 480px) {
  .bookmarks-page {
    padding: var(--page-padding-sm-screen);
  }

  /*-- bookmarks header --*/
  .bookmarks-header {
    gap: 1rem;
    padding: 0.25rem;
  }

  /* bookmarks page buttons */
  .delete-bookmarks-btn {
    font-size: 0.8rem;
    height: 30px;
    min-width: 75px;
    margin-top: calc(21px - 15px);
  }

  /* bookmarks heading */
  .bookmarks-heading {
    font-size: 1.5rem;
  }

  .bookmarks-heading span {
    font-size: 1.25rem;
  }

  /* no bookmarks message */
  .no-bookmarks-message {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 360px) {
  /*-- bookmarks container --*/
  .bookmarked-items {
    gap: 3.8rem 0.5rem;
    padding-top: 3.3rem;
  }

  /*-- bookmarks header --*/
  .bookmarks-header {
    display: grid;
  }

  /* bookmarks page buttons */
  .bookmarks-page .home-btn {
    grid-area: 1/1/2/2;
  }

  .delete-bookmarks-btn {
    grid-area: 1/2/2/3;
    margin: auto 0 auto auto;
  }

  /* bookmarks heading */
  .bookmarks-heading {
    grid-area: 2/1/3/3;
  }
}
