@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* GLOBAL VARIABLES */

  /* colors */
  --primary-color: rgb(217, 227, 241);
  --primary-color-tr: rgba(217, 227, 241, 0.8);
  --primary-color-tr2: rgba(217, 227, 241, 0.2);
  --primary-color-dk2: rgb(144, 154, 189);
  --primary-color-dk3: rgb(107, 113, 138);
  --dark-tr-clr: rgba(0, 0, 0, 0.6);

  --primary-font-color: rgb(53, 65, 101);
  --secondary-font-color: rgb(72, 87, 133);
  --black-font-color: rgb(11, 11, 11);
  --dull-red-clr: rgb(231, 77, 74);
  --primary-btn-color: rgb(55, 62, 87);

  --grey-clr: rgb(175, 175, 175);
  --yellow-color: rgb(219, 205, 0);
  --orange-color: rgb(255, 166, 0);
  --green-color: rgb(0, 140, 0);
  --red-color: rgb(230, 0, 0);

  /* pokemon type colors */
  --grass-color: rgb(28, 216, 14);
  --fire-color: rgb(255, 153, 0);
  --water-color: rgb(20, 168, 255);
  --normal-color: rgb(159, 163, 157);
  --fighting-color: rgb(255, 33, 91);
  --flying-color: rgb(137, 189, 255);
  --poison-color: rgb(194, 73, 255);
  --ground-color: rgb(255, 107, 13);
  --rock-color: rgb(216, 188, 90);
  --bug-color: rgb(123, 207, 0);
  --ghost-color: rgb(78, 106, 255);
  --steel-color: rgb(35, 161, 189);
  --electric-color: rgb(255, 222, 0);
  --psychic-color: rgb(255, 108, 100);
  --ice-color: rgb(46, 228, 198);
  --dragon-color: rgb(0, 118, 255);
  --dark-color: rgb(90, 86, 106);
  --fairy-color: rgb(255, 118, 255);
  --shadow-color: rgb(34, 67, 67);

  --grass-color-tr: rgba(28, 216, 14, 0.7);
  --fire-color-tr: rgba(255, 153, 0, 0.7);
  --water-color-tr: rgba(20, 168, 255, 0.7);
  --normal-color-tr: rgba(159, 163, 157, 0.7);
  --fighting-color-tr: rgba(255, 33, 91, 0.7);
  --flying-color-tr: rgba(137, 189, 255, 0.7);
  --poison-color-tr: rgba(194, 73, 255, 0.7);
  --ground-color-tr: rgba(255, 107, 13, 0.7);
  --rock-color-tr: rgba(216, 188, 90, 0.7);
  --bug-color-tr: rgba(123, 207, 0, 0.7);
  --ghost-color-tr: rgba(78, 106, 255, 0.7);
  --steel-color-tr: rgba(35, 161, 189, 0.7);
  --electric-color-tr: rgba(255, 222, 0, 0.7);
  --psychic-color-tr: rgba(255, 108, 100, 0.7);
  --ice-color-tr: rgba(46, 228, 198, 0.7);
  --dragon-color-tr: rgba(0, 118, 255, 0.7);
  --dark-color-tr: rgba(90, 86, 106, 0.7);
  --fairy-color-tr: rgba(255, 118, 255, 0.7);
  --shadow-color-tr: rgba(34, 67, 67, 0.7);

  /* font family */
  --primary-font: "Nunito", sans-serif;

  /* box shadow */
  --box-shadow-null: 0px 0px 0px var(--primary-color),
    -0px -0px 0px var(--primary-color);
  --box-shadow: 5px 5px 10px rgba(55, 94, 148, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 0.4);
  --box-shadow-inset: inset 3px 3px 8px rgba(55, 94, 148, 0.2),
    inset -3px -3px 8px rgba(255, 255, 255, 0.4);
  --box-shadow2: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 0.1);
  --box-shadow2-inset: inset 2px 2px 8px rgba(55, 94, 148, 0.2);
  --box-shadow3: 2px 2px 5px rgba(0, 0, 0, 0.1),
    -2px -2px 5px rgba(255, 255, 255, 0.5);
  --box-shadow3-inset: inset 1px 1px 2px rgba(0, 0, 0, 0.2),
    inset -1px -1px 2px rgba(255, 255, 255, 0.5);
  --box-shadow4: 0px 0px 4px rgba(0, 0, 0, 0.2);
  --box-shadow5-inset: inset 1px 1px 3px rgba(0, 0, 0, 0.2),
    inset -1px -1px 3px rgba(200, 200, 200, 0.5);

  /* border radius */
  --border-radius-circular: 50%;
  --border-radius1: 10px;
  --border-radius2: 20px;
  --border-radius3: 8px;

  /* transition */
  --transition1: all 0.1s ease-in-out;
  --transition2: all 0.2s ease-in-out;

  /* padding */
  --page-padding-large-screen: 20px 1.8rem;

  /* drop shadow */
  --drop-shadow: 0 25px 25px rgba(0, 0, 0, 0.4);

  --stat-value: 0px;
  --stat-range-bg: rgb(175, 175, 175);
}

body {
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* buttons */

.primary-btn {
  background-color: var(--primary-btn-color);
  border: none;
  border-radius: 6px;
  box-shadow: var(--box-shadow2);
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  text-transform: capitalize;
  transition: var(--transition1);
}

.primary-btn:active {
  box-shadow: var(--box-shadow-null), var(--box-shadow2-inset);
}

.secondary-btn {
  background-color: var(--primary-color);
  border-radius: var(--border-radius2);
  color: var(--primary-color-dk3);
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  transition: var(--transition1);
  height: 56px;
  width: 56px;
}

/* loading pokeball */

.loading-overlay {
  background-color: var(--primary-color-tr2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: var(--transition1);
  height: 100vh;
  width: 100%;
  z-index: 100;
}

.pokemons-loader {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  position: relative;
  width: 300px;
}

.pokemons-loader div,
.pokemons-loader::before,
.pokemons-loader::after {
  animation: loading-pulse 1.5s infinite 0.3s;
  background: var(--dull-red-clr);
  border-radius: 100%;
  opacity: 0;
  position: absolute;
  height: 300px;
  width: 300px;
}

.home-page .pokemons-loader div,
.home-page .pokemons-loader::before,
.home-page .pokemons-loader::after {
  height: 200px;
  width: 200px;
}

.pokemons-loader::before {
  animation: loading-pulse 1.5s infinite;
  background: url("./Images/pokeball2.png");
  background-size: 300px 300px;
  content: "";
  display: inline-block;
  position: absolute;
}

.home-page .pokemons-loader::before {
  background-size: 200px 200px;
}

.pokemons-loader::after {
  animation: loading-pulse 1.5s infinite 0.6s;
  content: "";
  display: inline-block;
  position: absolute;
}

@keyframes loading-pulse {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* ----------------- Home/Search Page ----------------- */

.home-page {
  background-color: var(--primary-color);
  min-height: 100vh;
  padding: var(--page-padding-large-screen);
}

/* pokemon logo */

.pokemon-logo-container {
  text-align: center;
  margin: 100px 0;
}

.pokemon-logo-container img {
  width: 300px;
  user-select: none;
}

/* pokemon search field */
.search-container {
  margin: auto;
  margin-bottom: 4rem;
  width: fit-content;
}

.search-field {
  display: flex;
  font-family: var(--primary-font);
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search-field input {
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius2);
  box-shadow: var(--box-shadow);
  color: var(--primary-font-color);
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 1.5rem;
  transition: all 0.2s ease-in-out;
  height: 60px;
  width: 400px;
}

.search-field input:focus {
  box-shadow: var(--box-shadow-null), var(--box-shadow-inset);
  outline: none;
}

.search-btn {
  background-color: var(--orange-color);
  border: none;
  border-radius: var(--border-radius-circular);
  box-shadow: var(--box-shadow2);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition1);
  height: 60px;
  width: 60px;
}

.search-btn:active {
  box-shadow: var(--box-shadow-null), var(--box-shadow2-inset);
}

.search-icon {
  color: white;
  font-size: 1.2rem;
}

/* error message */
.search-error {
  height: 2rem;
  margin-top: 10px;
}

.search-error p {
  color: var(--red-color);
  font-weight: 600;
  margin-left: 0.5rem;
  opacity: 0;
  text-transform: capitalize;
  transition: opacity 0.2s ease-in-out;
}

.search-error .error-appear {
  opacity: 1;
}

/* pokedex btn */

.pokedex-btn {
  background-color: var(--primary-btn-color);
  border-radius: var(--border-radius1);
  box-shadow: var(--box-shadow2);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: var(--transition1);
  height: 100px;
  width: 300px;
}

.pokedex-btn:active {
  box-shadow: var(--box-shadow-null), var(--box-shadow2-inset);
}

.pokedex-btn p {
  font-size: 1.8rem;
  font-weight: 800;
  z-index: 10;
}

.pokedex-btn img {
  position: absolute;
  top: -20px;
  right: -10px;
  opacity: 0.5;
  width: 140px;
}

/* ----------- Pokemon List Page ------------ */

.pokemon-list-page {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*--- pokemon filter ---*/

.pokemon-filter-container {
  background-color: var(--primary-color-tr);
  backdrop-filter: blur(10px);
  flex: 0 1 auto;
  padding: var(--page-padding-large-screen) 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.filter-header {
  align-items: center;
  display: flex;
  gap: 2rem;
  padding: 0.5rem 1rem 1rem;
}

/* filter section buttons */

.home-btn,
.filter-header .bookmarks-btn {
  box-shadow: var(--box-shadow);
}

.home-btn:active,
.filter-header .bookmarks-btn:active {
  box-shadow: var(--box-shadow-null), var(--box-shadow-inset);
}

@media (hover: hover) {
  .home-btn:hover,
  .bookmarks-btn:hover {
    color: var(--primary-color-dk2);
  }
}

.filter-btn {
  font-size: 1rem;
  gap: 4px;
  margin-left: auto;
  height: 42px;
  width: 100px;
}

.filter-options-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  height: 0px;
  overflow: hidden;
  padding: 0 1rem;
  transition: var(--transition2);
}

.show-filters {
  padding: 1rem !important;
  height: 120px !important;
}

/* filter options */

.filter-options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  text-align: center;
  width: 100%;
}

.filter-options select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--primary-color) url("./Images/arrow-down.png") no-repeat;
  background-size: 13px;
  background-position: 95% 50%;
  border: none;
  border-radius: var(--border-radius2);
  box-shadow: var(--box-shadow3);
  color: var(--primary-font-color);
  cursor: pointer;
  font-family: var(--primary-font);
  font-size: 0.9rem;
  font-weight: 600;
  padding: 8px 1rem;
  text-transform: capitalize;
  transition: box-shadow 0.1s ease-in-out;
  width: 200px;
}

.filter-options select:focus {
  box-shadow: var(--box-shadow);
  outline: none;
}

.bold-font {
  font-weight: 800 !important;
}

.reset-btn {
  font-size: 0.9rem;
  height: 35px;
  width: 140px;
}

.border-line {
  background-color: var(--primary-btn-color);
  border-radius: var(--border-radius1);
  height: 2px;
}

@media screen and (max-width: 1240px) {
  .filter-options {
    grid-template-columns: repeat(4, 1fr);
  }

  .show-filters {
    height: 172px !important;
  }
}

@media screen and (max-width: 1024px) {
  .filter-options {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  /* .filter-options {
    padding: 0 0.5rem;
  } */
}

/*--- pokemon list constainer ---*/

.pokemon-list-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 0 auto;
  padding: var(--page-padding-large-screen);
  position: relative;
  transition: var(--transition1);
  height: 100%;
  width: 80%;
}

/*-- pokemon list heading --*/

.pokemon-list-heading {
  color: var(--secondary-font-color);
  flex: 0 1 auto;
  font-size: 2.2rem;
  padding: 0 1rem;
  text-transform: capitalize;
  margin: 1rem 0;
}

.pokemon-list-heading span {
  color: var(--dull-red-clr);
  font-size: 1.8rem;
  font-style: italic;
}

/*-- pokemon card list --*/

.pokemon-list {
  display: grid;
  flex: 1 1 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem 1rem;
  padding: 5rem 1rem 0 1rem;
  width: 100%;
}

/* scroll btn */

.scroll-top-btn {
  border-radius: 50% !important;
  font-size: 2rem;
  position: fixed;
  bottom: 40px;
  right: 60px;
  height: 60px;
  width: 60px;
  z-index: 101;
}

/* scroll list loading */

.scroll-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100px;
  width: 100%;
}

.loading-dot {
  background-color: var(--primary-color-dk3);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}

.loading-dot:first-child {
  animation: loading-bounce 1s ease-in-out 0s infinite;
}

.loading-dot:nth-child(2) {
  animation: loading-bounce 1s ease-in-out 0.15s infinite;
}

.loading-dot:nth-child(3) {
  animation: loading-bounce 1s ease-in-out 0.3s infinite;
}

@keyframes loading-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/*- pokemon card -*/

.pokemon-card {
  backdrop-filter: blur(12px);
  border-radius: var(--border-radius2);
  box-shadow: var(--box-shadow);
  text-decoration: none;
  cursor: pointer;
  display: flex;
  padding: 1.5rem 2rem;
  position: relative;
  transition: var(--transition1);
  height: 200px;
  width: 360px;
}

@media (hover: hover) {
  .pokemon-card:hover {
    transition: var(--transition2);
    transform: scale(1.01);
  }
}

.pokemon-card:focus {
  outline: none;
  transform: scale(1.01);
}

.pokemon-card:active {
  color: inherit;
  box-shadow: var(--box-shadow-null), var(--box-shadow-inset);
}

/* pokemon image */

.pokemon-card .pokemon-img-container {
  position: absolute;
  left: 0;
  top: -40%;
  text-align: center;
  width: 100%;
}

.pokemon-card .pokemon-img {
  color: var(--black-font-color);
  filter: drop-shadow(var(--drop-shadow)) contrast(1.25);
  height: 180px;
  user-select: none;
}

/* pokemon data */

.pokemon-card .pokemon-data-container {
  align-self: flex-end;
  z-index: 10;
}

.pokemon-card .pokemon-id {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.pokemon-card .pokemon-name {
  color: var(--black-font-color);
  text-align: left;
  text-transform: capitalize;
}

/* pokemon type */

.pokemon-card .pokemon-type-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: fit-content;
}

.pokemon-card .pokemon-type {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius2);
  box-shadow: var(--box-shadow4);
  color: white;
  display: flex;
  gap: 6px;
  justify-content: center;
  padding: 4px 10px;
  text-transform: capitalize;
  width: fit-content;
}

/* pokemon type colors */

.grass {
  background-color: var(--grass-color) !important;
}

.fire {
  background-color: var(--fire-color) !important;
}

.water {
  background-color: var(--water-color) !important;
}

.normal {
  background-color: var(--normal-color) !important;
}

.fighting {
  background-color: var(--fighting-color) !important;
}

.flying {
  background-color: var(--flying-color) !important;
}

.poison {
  background-color: var(--poison-color) !important;
}

.ground {
  background-color: var(--ground-color) !important;
}

.rock {
  background-color: var(--rock-color) !important;
}

.bug {
  background-color: var(--bug-color) !important;
}

.ghost {
  background-color: var(--ghost-color) !important;
}

.steel {
  background-color: var(--steel-color) !important;
}

.electric {
  background-color: var(--electric-color) !important;
}

.psychic {
  background-color: var(--psychic-color) !important;
}

.ice {
  background-color: var(--ice-color) !important;
}

.dragon {
  background-color: var(--dragon-color) !important;
}

.dark {
  background-color: var(--dark-color) !important;
}

.fairy {
  background-color: var(--fairy-color) !important;
}

.shadow {
  background-color: var(--shadow-color) !important;
}

/* pokemon card colors */

.grass-card {
  background-color: var(--grass-color-tr);
}

.fire-card {
  background-color: var(--fire-color-tr);
}

.water-card {
  background-color: var(--water-color-tr);
}

.normal-card {
  background-color: var(--normal-color-tr);
}

.fighting-card {
  background-color: var(--fighting-color-tr);
}

.flying-card {
  background-color: var(--flying-color-tr);
}

.poison-card {
  background-color: var(--poison-color-tr);
}

.ground-card {
  background-color: var(--ground-color-tr);
}

.rock-card {
  background-color: var(--rock-color-tr);
}

.bug-card {
  background-color: var(--bug-color-tr);
}

.ghost-card {
  background-color: var(--ghost-color-tr);
}

.steel-card {
  background-color: var(--steel-color-tr);
}

.electric-card {
  background-color: var(--electric-color-tr);
}

.psychic-card {
  background-color: var(--psychic-color-tr);
}

.ice-card {
  background-color: var(--ice-color-tr);
}

.dragon-card {
  background-color: var(--dragon-color-tr);
}

.dark-card {
  background-color: var(--dark-color-tr);
}

.fairy-card {
  background-color: var(--fairy-color-tr);
}

.shadow-card {
  background-color: var(--shadow-color-tr);
}

/* loading */

.pokeball-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokeball-loading .loading-icon {
  animation: loading 0.5s linear infinite forwards;
  color: var(--primary-color-dk2);
  font-size: 4rem;
  margin: 0;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*------------ Pokemon details page ------------*/

.pokemon-details-page {
  background-color: var(--primary-color);
}

/*-- loading container --*/

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

/*-- pokemon basic section --*/

.pokemon-basics {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  height: 500px;
  overflow: hidden;
  padding: var(--page-padding-large-screen);
  position: relative;
}

/* pokemon basics buttons */

.pokemon-basics .home-btn {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.bookmarks-btn-container {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.pokemon-basics .home-btn,
.bookmarks-btn-container .bookmark-pokemon-btn,
.bookmarks-btn-container .bookmarks-btn {
  border: none;
  box-shadow: var(--box-shadow2);
}

.pokemon-basics .home-btn:active,
.bookmarks-btn-container .bookmark-pokemon-btn:active,
.bookmarks-btn-container .bookmarks-btn:active {
  box-shadow: var(--box-shadow-null), var(--box-shadow2-inset);
}

.bookmarked {
  color: var(--yellow-color);
}

/* basic details */

.basic-details {
  width: 400px;
}

.basic-details .pokemon-id {
  color: white;
  margin: 2px 0;
}

.basic-details .pokemon-name {
  color: white;
  font-size: 3rem;
  margin: 10px 0;
  letter-spacing: 8px;
  line-height: 1.25;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
}

.basic-details .pokemon-type-container {
  display: flex;
  gap: 1rem;
  width: fit-content;
}

.basic-details .pokemon-type {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius3);
  box-shadow: var(--box-shadow4);
  color: white;
  display: flex;
  gap: 6px;
  justify-content: center;
  margin: 5px 0;
  padding: 6px 1rem;
  text-decoration: none;
  text-transform: capitalize;
  width: fit-content;
}

.basic-details .pokemon-description {
  color: white;
  font-size: 1.1rem;
  margin: 10px 0;
  text-transform: capitalize;
}

/* basic details division */

.division-line {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.division-line::before,
.division-line::after {
  border-radius: var(--border-radius2);
  content: "";
  position: absolute;
  width: 2px;
  height: calc(50% - 60px);
  z-index: 10;
}

.division-line::before {
  background: linear-gradient(
    to top,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
  top: 20px;
}

.division-line::after {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
  bottom: 20px;
}

.division-line img {
  color: black;
  height: 40px;
}

/* basics details image */

.pokemon-details-page .pokemon-img {
  text-align: center;
  width: 400px;
}

.pokemon-details-page .pokemon-img img {
  filter: drop-shadow(var(--drop-shadow)) contrast(1.5);
  height: 400px;
  width: 400px;
}

/*-- pokemon specs section --*/

.pokemon-specs {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "pa pa"
    "ps pm"
    "pe pe";
  justify-content: space-between;
  padding: var(--page-padding-large-screen);
  padding-top: 2rem;
}

/* pokemon about data */

.pokemon-about {
  background-color: rgb(180, 218, 233);
  border-radius: var(--border-radius1);
  display: grid;
  gap: 2rem 4rem;
  grid-area: pa;
  grid-template-columns: repeat(5, 1fr);
  padding: 1.5rem;
  text-transform: capitalize;
}

.about-details div {
  margin: 0 auto;
  white-space: nowrap;
  width: fit-content;
}

.about-details h3 {
  margin-bottom: 0.5rem;
}

.vertical-center {
  vertical-align: middle;
}

.pokemon-ability p span,
.pokemon-group p span {
  margin-left: 4px;
}

/* pokemon stats */

.pokemon-specs .stats {
  grid-area: ps;
}

.pokemon-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.pokemon-stats .stat {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 10px 0;
}

.pokemon-stats .stat h4 {
  text-transform: capitalize;
  width: 180px;
}

.pokemon-stats .stat p {
  font-size: 1rem;
  text-transform: capitalize;
  white-space: nowrap;
}

.pokemon-stats .stat .base-stat-value {
  text-align: center;
  width: 50px;
}

.pokemon-stats .stat-bar {
  background-color: var(--grey-clr);
  border-radius: var(--border-radius1);
  height: 8px;
  width: 400px;
}

.pokemon-stats .stat-bar .slide-value {
  border-radius: var(--border-radius1);
  position: relative;
  transition: all 2s ease-in-out;
  height: 100%;
  width: var(--stat-value);
}

.high-stat {
  --stat-range-bg: var(--green-color);
}

.low-stat {
  --stat-range-bg: var(--red-color);
}

.high-stat::after,
.low-stat::after {
  animation: fill 2s backwards;
  background: var(--stat-range-bg);
  border-radius: var(--border-radius1);
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

@keyframes fill {
  0% {
    width: 0%;
  }
}

.pokemon-stats .stat .max-stat-value {
  color: var(--secondary-font-color);
}

.stats h2,
.moves h2,
.evolution h2 {
  margin-bottom: 1rem;
}

/* pokemon moves */

.pokemon-specs .moves {
  grid-area: pm;
  width: 600px;
}

.pokemon-moves {
  box-shadow: var(--box-shadow5-inset);
  border-radius: var(--border-radius3);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: scroll;
  padding: 1rem;
  text-transform: capitalize;
  height: 300px;
}

/* width */
.pokemon-moves::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.pokemon-moves::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.pokemon-moves::-webkit-scrollbar-thumb {
  background: rgb(145, 145, 145);
  border-radius: 10px;
}
.pokemon-moves::-webkit-scrollbar-thumb:hover {
  background: rgb(160, 160, 160);
}

/* pokemon evolution */

.pokemon-specs .evolution {
  grid-area: pe;
}

.evolution-chain {
  background-color: var(--primary-btn-color);
  border-radius: var(--border-radius2);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 2rem 1rem;
}

.pokemon-evolution {
  background-color: inherit;
  border: none;
  display: flex;
  font: inherit;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
}

.evolution-img-container {
  background-color: rgb(180, 218, 233);
  border: 6px solid white;
  border-radius: var(--border-radius2);
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  height: 200px;
  width: 200px;
}

.evolution-img-container img {
  filter: drop-shadow(var(--drop-shadow)) contrast(1.25);
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.pokemon-evolution .pokemon-id {
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none;
}

.pokemon-evolution .pokemon-id p {
  font-size: 1.1rem;
  font-weight: 600;
}

.pokemon-evolution .pokemon-types {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  justify-content: center;
}

.pokemon-evolution .pokemon-types a {
  border-radius: var(--border-radius3);
  box-shadow: var(--box-shadow4);
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  width: 100px;
}

.evolution-chain .arrow-icon {
  color: white;
  font-size: 3rem;
}

.no-evolve-heading {
  color: white;
}

/*------------ Bookmark Page ------------*/

.bookmarks-page {
  background-color: var(--primary-color);
  position: relative;
  min-height: 100vh;
}

/* bookmarks page buttons */

.pokemon-details-page .home-btn,
.bookmarks-page .home-btn {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.delete-bookmarks-btn {
  font-size: 1rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 42px;
  width: 100px;
}

/*-- bookmarks container --*/

.bookmarks-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 0 auto;
  padding: var(--page-padding-large-screen);
  height: 100%;
  width: 80%;
}

/* bookmarks heading */

.bookmarks-heading {
  color: var(--secondary-font-color);
  flex: 0 1 auto;
  font-size: 2.2rem;
  padding: 0 1rem;
  text-transform: capitalize;
  margin: 1rem 0;
}

.bookmarks-heading span {
  color: var(--dull-red-clr);
  font-size: 1.8rem;
  font-style: italic;
}

.bookmarked-items {
  display: grid;
  flex: 1 1 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem 1rem;
  padding: 5rem 1rem 0 1rem;
  width: 100%;
}

/* no bookmarks message */

.no-bookmarks-message {
  color: var(--primary-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
